* {
    margin: 0; 
    padding: 0;
    font-family: Roboto, arial;
    box-sizing: border-box;
}

body{background-color: black}
header {max-width: 1000px;
            width: 100%;
            display: block;
    background-color: black;
    color: red;
    font-size: 50px;

    
}


#wrapper {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: azure;
}
nav {
    background-color: firebrick
}
nav a {
    display: inline-block;
    width: 24%;    
    padding: 15px 30px 15px 30px;
    color: black;
    text-decoration: none;
    font-family:fantasy;
    text-align: center;
-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease
}
a.menu:hover {font-size: 30px;
             background-color: red;
              }
.active {font-size: 30px;
    background-color: red;
}

@media (max-width:800px){
    nav a {
        width: 50px;
    }
    h1 {font-size: 50px;}
}
@media (max-width:500px){
    nav a {
        width: 100%;
    }
}
@media (max-width:260px){
    button{
        width: 260px;
    }
}
    

article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
}
article img {border:40px solid white }
article h1 {
    font-size:50px;
    text-align: center;
    color: red;
    margin: 0 10% 20px 10%;
    padding-bottom: 7px;
        border-bottom: 2px solid black;
    
}
img.left {
    float: left;
    width: 43%;
    margin: 10px 10px 10px 0;
    }
article p {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0;
}
iframe {width: 100%;}
footer {
    background-color: firebrick;
    height: 40px;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
}
button {
    position: absolute;
    top: 132.9%;
    left: 42%;
    width: 260px;
    padding: 5px;
    background-color: firebrick;
    border: 3px solid darkred;
    font-size: 20px;
}
.class {
    display: inline-block;
    width: 24%;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    font-family: fantasy;
    text-align: center;
    -wbkit- transition: all 0.5s ease;
   transition: all 0.5s ease;
}









    

